<mat-toolbar color="primary">
	<span>beba</span>
</mat-toolbar>
<div class="example-container" fxLayout="column" fxLayoutAlign="center center">
   <span class="title">REGISTER WITH SOCIAL ACCOUNTS</span>

   <div class="fab">
      <a href="#" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-twitter"></a>
      <a href="#" class="fa fa-google"></a>
   </div>
   <span class="title">OR REGISTER WITH:</span>
        <!--FORM FIELDS HERE-->
         <mat-form-field class="full-width">
            <mat-label>Username</mat-label>
            <input  matInput  placeholder="Username"  name="uname"  required>
         </mat-form-field>

         <mat-form-field class="full-width">
            <mat-label>Email</mat-label>
            <input  matInput  placeholder="Email" name="email" required>
         </mat-form-field>
         <mat-form-field class="full-width">
            <mat-label>Password</mat-label>
            <input  matInput  placeholder="Password"  name="password" required> 
         </mat-form-field>
         <mat-form-field class="full-width">
            <mat-label>Password Again</mat-label>
            <input  matInput  placeholder="Password Again"  name="passwordAgain" required>
         </mat-form-field>
      <!--REGISTER BUTTON HERE-->
      <button mat-raised-button color="primary" class="SUBMIT">REGISTER</button>
   <p>No account?  <a mat-flat-button routerLink="/login">LOGIN</a></p>
</div>