.profile-card {
  text-align: center;
}
.logo{
  height: 50px;
  width: 50px;
}
.card{
  border-radius: 0 0 20px 20px; 
  margin-bottom: 20px;
  background-color: #fafafa;
}
.title{
  text-align: center;
}
.class1{
  text-align: center;
  background-color: lightblue;
  margin-bottom: 6vw;
  border-radius: 10px;
  
}
.class2{
  text-align: center;
  background-color: lightgreen;
  margin-bottom: 6vw; 
  border-radius: 10px; 
  
}
.class3{
  text-align: center;
  background-color: #DDBDF1;
  margin-bottom: 6vw;
  border-radius: 10px;
  
}
.class4{
  text-align: center;
  background-color: lightblue;
  margin-bottom: 6vw;
  border-radius: 10px;
  
}
.class5{
  text-align: center;
  background-color: lightgreen;
  margin-bottom: 6vw;
  border-radius: 10px;
  
}
.class6{
  text-align: center;
  background-color: #DDBDF1;
  margin-bottom: 6vw;
  border-radius: 10px;
  
}


