<mat-toolbar color="primary">
  <span>beba</span>
</mat-toolbar>
<mat-card class="card">
  <div class="profile-card">
  <img class="logo" src="assets/user.png">
  <h3 class="title">
    John Doe
  </h3>
  <div>
    <button mat-stroked-button class="button" routerLink="/profile">Profile</button>
  </div>
</div>
</mat-card>
<h2 class="title">Solutions</h2>
<div class="main" fxLayout="row wrap" fxLayoutAlign="space-around">
  <mat-card class="class1" fxFlex="45" routerLink="/side">
    <mat-card-title>Sidenav</mat-card-title>
    <mat-card-subtitle>Services</mat-card-subtitle>
    <mat-card-content>
      <p>Sidenav using Angular Material</p>
    </mat-card-content>
  </mat-card>
  <mat-card class="class2" fxFlex="45" routerLink="/city">
    <mat-card-title>Choose City/Town</mat-card-title>
    <mat-card-subtitle>Services</mat-card-subtitle>
    <mat-card-content>
      <p>Choose Kenyan City/Town</p>
    </mat-card-content>
  </mat-card>
</div>
<div class="main" fxLayout="row wrap" fxLayoutAlign="space-around">
  <mat-card class="class3" fxFlex="45" routerLink="/coming">
    <mat-card-title>Coming Soon</mat-card-title>
    <mat-card-subtitle>Services</mat-card-subtitle>
    <mat-card-content>
      <p>Another One</p>
    </mat-card-content>
  </mat-card>
  <mat-card class="class4" fxFlex="45" routerLink="/coming">
    <mat-card-title>Coming Soon</mat-card-title>
    <mat-card-subtitle>Services</mat-card-subtitle>
    <mat-card-content>
      <p>Another One</p>
    </mat-card-content>
  </mat-card>
</div>
<div class="main" fxLayout="row wrap" fxLayoutAlign="space-around">
  <mat-card class="class5" fxFlex="45" routerLink="/coming">
    <mat-card-title>Coming Soon</mat-card-title>
    <mat-card-subtitle>Services</mat-card-subtitle>
    <mat-card-content>
      <p>Another One</p>
    </mat-card-content>
  </mat-card>
  <mat-card class="class6" fxFlex="45" routerLink="/coming">
    <mat-card-title>Coming Soon</mat-card-title>
    <mat-card-subtitle>Services</mat-card-subtitle>
    <mat-card-content>
      <p>Another One</p>
    </mat-card-content>
  </mat-card>
      
</div>