<mat-toolbar color="primary">
  <span>beba</span>
</mat-toolbar>
    <swiper
    [pagination]="{
      dynamicBullets: true
    }"
    class="mySwiper">

    <ng-template swiperSlide>        
        <div class="card-image">
        <img src="./assets/logo.png">
        </div>
        <div class="card-text">
    <h2>Welcome to Beba</h2>
    <h4>A starter user interface angular app</h4>
  </div>
    <div class="example-button-row">
      <button mat-raised-button color="primary" routerLink="/register">Register</button>
      <button mat-raised-button color="warn" routerLink="/login">Login</button>
    </div>
        </ng-template>

        <ng-template swiperSlide>
        <div class="card-image">
        <img src="./assets/logo.png">
        </div>
        <div class="card-text">
    <h2>Styling</h2>
    <h4>Styled by Angular Material and some css</h4>
  </div>
    <div class="example-button-row">
      <button mat-raised-button color="primary" routerLink="/register">Register</button>
      <button mat-raised-button color="warn" routerLink="/login">Login</button>
    </div>
  </ng-template>

  <ng-template swiperSlide>        
    <div class="card-image">
        <img src="./assets/logo.png">
        </div>
        <div class="card-text">
    <h2>Beatiful templates</h2>
    <h4>Login and Registration Page Available</h4>
  </div>
    <div class="example-button-row">
      <button mat-raised-button color="primary" routerLink="/register">Register</button>
      <button mat-raised-button color="warn" routerLink="/login">Login</button>
    </div>
</ng-template>

<ng-template swiperSlide>
        <div class="card-image">
        <img src="./assets/logo.png">
        </div>
        <div class="card-text">
    <h2>Json Used To:</h2>
    <h4>Choose Kenyan City/Town Template</h4>
  </div>
    <div class="example-button-row">
      <button mat-raised-button color="primary" routerLink="/register">Register</button>
      <button mat-raised-button color="warn" routerLink="/login">Login</button>
    </div>
</ng-template>

<ng-template swiperSlide>
        <div class="card-image">
        <img src="./assets/logo.png">
        </div>
        <div class="card-text">
    <h2>Swiper Used:</h2>
    <h4>For carousel effects</h4>
  </div>
    <div class="example-button-row">
      <button mat-raised-button color="primary" routerLink="/register">Register</button>
      <button mat-raised-button color="warn" routerLink="/login">Login</button>
    </div>
    </ng-template>

    <ng-template swiperSlide>
        <div class="card-image">
        <img src="./assets/logo.png">
        </div>
        <div class="card-text">
    <h2>Flex Layout used:</h2>
    <h4>For Grid structure</h4>
  </div>
    <div class="example-button-row">
      <button mat-raised-button color="primary" routerLink="/register">Register</button>
      <button mat-raised-button color="warn" routerLink="/login">Login</button>
    </div>
    </ng-template>

        <ng-template swiperSlide>
            <div class="card-image">
        <img src="./assets/logo.png">
        </div>
        <div class="card-text">
    <h2>Font awesome used:</h2>
    <h4>For social acounts icons</h4>
  </div>
    <div class="example-button-row">
      <button mat-raised-button color="primary" routerLink="/register">Register</button>
      <button mat-raised-button color="warn" routerLink="/login">Login</button>
    </div>
</ng-template>
  </swiper>
